.sidebar{
    flex: 5;
    /* border-left: 1px solid grey; */
    padding: 1em;
    /* background-image:linear-gradient(white, rgb(85, 190, 255)); */
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}
.sidebartitle{
    margin: 10px;
    padding: 5px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    align-items: center;
    text-align: center;
    font-size: 30px;
    animation-name: example;
    animation-duration: 2s;
    
}
.sidebarpara{
    margin: 10px;
    animation-name: example;
    animation-duration: 6s;
    font-size: 20px;
}
@keyframes example {
    from {color: white; font-size:10px;}
    to {color: black;}
  }